/* header works  */
body {
    font-family: Open Sans;
    margin: 0px;
}
.header {
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

nav {
    margin: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.j {
    color: rgb(236, 130, 9);
}

nav>ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin: 20px;
}

a{
    text-decoration: none;
    color:black
}

/* button works */

.hire-button{
    background-color: rgb(222, 109, 69);
    font-size: small;
    font-weight: 700;
    color:white;
    border:none;
    border-radius: 2px;
    padding:10px 17px;
    margin-right:7px;
}
.hire-button:hover{
    background-color: white;
    color: rgb(236, 130, 9);
    transition: 0.7s;
}
.hire-button:active{
    border-style: dotted;
    border-color: black;
    border-width: 2px;
}

/* banner works */

.banner{
    padding: 40px 30px 0px 150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.banner .profile-pic{
    width:500px;
}

.Banner-greeting{
    font-size: 40px;
    margin-top:0px;
    margin-bottom:15px;
    max-width: 400px;
}
.Banner-title{
    font-size: 55px;
    margin-top:0px;
    margin-bottom:15px;
    max-width: 400px;
}
.Banner-des{
    color:grey;
    margin-top:0px;
    margin-bottom:60px;
    max-width: 400px;
}
